body{
    font-family: 'Nunito', sans-serif;
    

}
.Thank-you h1{
    color: #A4FFFF;

}
.Thank-you h4{
    color: orange;
    margin-top: -16em;
    margin-left: -10em;
}
.container-colum{
    color: white;
}
.container-colum2{
    color: white;
}
.container-colum3{
    color: white;
}
.container-gris{
    color: #8D8D8D;
}
.container-gris2{
    color: #8D8D8D;
}
.container-gris3{
    color: #8D8D8D;

}

