.junta1 {
position: relative;
width: 325px;
height: 420px;
left: 266.32px;
top: 0;
}
.Help {
position: absolute;
width: 600px;
height: 32px;
left: 768px;
top: 50px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.325px;
color: #99EFD0;
}
.Help2 {
position: absolute;
width: 750px;
height: 40px;
left: 768px;
top: 150px;
    
font-family: Gilroy-SemiBold;
font-size: 15px;
line-height: 20px;
/* or 133% */
    
letter-spacing: 0.2px;
color: #8476AA;   
} 
.help3 {
position: absolute;
height: 18px;
left: 37.33%;
right: 40.28%;
top: 250px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.2px;

/* T2 */

color: #99EFD0;
}
.help3-1 {
position: absolute;
height: 60px;
left: 35.33%;
right: 35.33%;
top: 280px;

font-family: Gilroy-SemiBold;
font-size: 15px;
line-height: 20px;
/* or 133% */

letter-spacing: 0.2px;
color: #8476AA;
}
.help4 {
position: absolute;
height: 18px;
left: 62.33%;
right: 20.21%;
top: 250px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.2px;

/* T2 */

color: #99EFD0;
}
.help4-1 {
position: absolute;
height: 60px;
left: 60.33%;
right: 11.11%;
top: 280px;

font-family: Gilroy-SemiBold;
font-size: 15px;
line-height: 20px;
/* or 133% */

letter-spacing: 0.2px;

/* T1 */

color: #8476AA;
}



   







 
 

 





